body{
    background: #ccc;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.img_topo{
    border-radius: 50%;
}

#titulo, .subtitulo, .titulo_post{
    color: #505050;
}

#titulo{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}

.titulo_post{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: white;
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.conteudo_post{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.img_post{
    margin-bottom: 15px;
    width: 100%;
}

.lista_contato{
    list-style-type: none;
    padding-left: 15px;
}

.lista_contato li a{
    text-decoration: none;
}